@font-face {
    font-family: Tahoma;
    src: url('../../assets/fonts/tahoma.ttf');
}

@font-face {
    font-family: RAGE;
    src: url('../../assets/fonts/RAGE.ttf');
}

@font-face {
    font-family: TCCEB;
    src: url('../../assets/fonts/TCCEB.tff');
}

body {
    font-family: Tahoma !important;
}

.right {
    float: right;
}

.subTitle {
    color: $steunkleur;
    font-family: RAGE;
    font-size: 30px;
}

#loginHeader {
    margin: 20px !important;
    color: white !important;
}

h2 {
    font-family: Oswald !important;
}

#registreerVraag {
    color: white;
    a {
        color: $steunkleur;
    }
}


button {
    background-color: $steunkleur;
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    i {
        margin-left: -5px !important;
        margin-right: 10px;
    }
}

.container {
    position: relative;
    
    .btn-row {
        padding-bottom: 30px;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 15px;

        .btn-add {
            margin-right: 15px;
        }
    }
}

.pandPreviewblok {
    padding-bottom: 25px;
    
    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    
    ul {
        list-style: none;
        padding: 0;
        background-color: $lichtBlauw !important;
        padding: 27px;
        position: relative;
        overflow: hidden;
        
        li:first-child {
            font-family: Oswald !important;
            text-transform: uppercase;
            font-size: 25px;
        }
        
        li:last-child {
            padding-top: 20px;
        }
        
        .subTitle {
            font-size: 24px;
        }
        
        .cover {
            position: absolute;
            height: 60px;
            width: 100%;
            padding: 0 !important;
            bottom: -200px;
            left: 0;
            transition: bottom 0.25s ease-out;
            background: rgba(38, 70, 83, 0.85);
            
            .actions {
                width: 100%;
                height: 100%;
                
                .center {
                    margin: 0 auto;
                    padding: 15px 0;
                    width: 80px;
                }
                
                i {
                    font-size: 24px;
                    color: #fff;
                    padding: 0 10px;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }
}

.pandPreviewblok:hover {
    ul {
        .cover {
            bottom: 0;
            transition: bottom 0.25s ease-out;
        }
    }
}

.previewSlider {
    height: 800px;
    padding: 100px 0px;
    color: white;
    background: 
    linear-gradient(
      rgba(38, 70, 83, 0.45), 
      rgba(38, 70, 83, 0.45)
    ),
    url('../../assets/images/maasboulevard.png');
    
    h3 {
        font-family: Oswald;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 15px 0px 35px 0px;
    }
}