// Colors
$zwart : black;
$wit : white;
$hoofdkleur : #264653;
$steunkleur : #E85C3A;
$jungleGreen : #2A9D8F;
$hansaYellow : #E9C46A;
$sandyBrown : #F49D55;
$lichtBlauw : #e9f5f4;
$ultralichtwit: #f7f7f7;