.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }

@font-face {
  font-family: Tahoma;
  src: url("../../assets/fonts/tahoma.ttf"); }
@font-face {
  font-family: RAGE;
  src: url("../../assets/fonts/RAGE.ttf") format("truetype"), url("../../assets/fonts/RageItalic.eot") format("eot"), url("../../assets/fonts/RageItalic.woff") format("woff"); }
@font-face {
  font-family: TCCEB;
  src: url("../../assets/fonts/TCCEB.tff"); }
html,
body {
  overflow-x: hidden; }

body {
  font-family: Tahoma !important; }

.right {
  float: right; }

.subTitle {
  color: #E85C3A;
  font-family: RAGE;
  font-size: 30px; }

img {
  max-width: 100%; }

#loginHeader {
  margin: 20px !important;
  color: white !important; }

h2,
h3,
h4 {
  font-family: Oswald !important; }

#registreerVraag {
  color: white; }
  #registreerVraag a {
    color: #E85C3A; }

button {
  background-color: #E85C3A;
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }
  button i {
    margin-left: -5px !important;
    margin-right: 10px; }

main .container {
  position: relative; }
  main .container .btn-row {
    padding-bottom: 30px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 15px;
    right: 15px; }
    main .container .btn-row .btn-add {
      margin-right: 15px; }

.fb-like {
  margin-top: 20px; }

.pandPreviewblok {
  padding-bottom: 25px; }
  .pandPreviewblok img {
    width: 100%;
    height: 220px;
    object-fit: cover; }
  .pandPreviewblok ul {
    list-style: none;
    background-color: #e9f5f4 !important;
    padding: 27px;
    position: relative;
    overflow: hidden;
    height: 205px; }
    .pandPreviewblok ul li {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .pandPreviewblok ul li:first-child {
      font-family: Oswald !important;
      text-transform: uppercase;
      font-size: 25px; }
    .pandPreviewblok ul li:last-child {
      padding-top: 20px; }
    .pandPreviewblok ul .subTitle {
      font-size: 24px; }
    .pandPreviewblok ul .cover {
      position: absolute;
      height: 60px;
      width: 100%;
      padding: 0 !important;
      bottom: -200px;
      left: 0;
      transition: bottom 0.25s ease-out;
      background: rgba(38, 70, 83, 0.85); }
      .pandPreviewblok ul .cover .actions {
        width: 100%;
        height: 100%; }
        .pandPreviewblok ul .cover .actions .center {
          margin: 0 auto;
          padding: 15px 0;
          width: 80px; }
        .pandPreviewblok ul .cover .actions i {
          font-size: 24px;
          color: white;
          padding: 0 10px;
          text-align: center;
          margin: 0 auto; }
        .pandPreviewblok ul .cover .actions .deleteFavorite {
          padding: 0 30px; }

.pandPreviewblok:hover ul .cover {
  bottom: 0;
  transition: bottom 0.25s ease-out; }

.previewSlider {
  height: 800px;
  padding: 100px 0px;
  color: white;
  background: linear-gradient(rgba(38, 70, 83, 0.45), rgba(38, 70, 83, 0.45)), url("../../assets/images/maasboulevard.png"); }
  .previewSlider h3 {
    font-family: Oswald;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0px 35px 0px; }

.infoList {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 10px; }

@media only screen and (max-width: 1200px) {
  .img-width-100 img {
    width: 100%; } }
#nieuwsbriefPopup {
  text-align: center; }
  #nieuwsbriefPopup button {
    margin-top: 20px; }
  #nieuwsbriefPopup #NBheaderInfo {
    background-color: #264653;
    color: white;
    height: 100%;
    padding: 20px; }
    #nieuwsbriefPopup #NBheaderInfo h4 {
      font-size: 24px; }
    #nieuwsbriefPopup #NBheaderInfo p {
      margin-bottom: 20px; }
  #nieuwsbriefPopup #NBcontentInfo {
    background-color: white;
    padding: 20px; }
  #nieuwsbriefPopup #NBinputField {
    background-color: #f7f7f7; }

.persoonlijkeLijst {
  list-style: none;
  padding: 10px 0px; }
  .persoonlijkeLijst h3 {
    text-align: center; }
  .persoonlijkeLijst h3:after {
    content: "";
    width: 55px;
    height: 1px;
    display: block;
    background-color: #264653;
    /* margin-top: 10px; */
    /* text-align: center; */
    margin: 15px auto;
    padding-top: 8px; }
  .persoonlijkeLijst li:first-child {
    padding: 0px; }
  .persoonlijkeLijst li {
    padding: 8px 0px; }

input,
select,
option {
  border: none;
  color: #333 !important;
  padding: 15px 32px;
  margin: 5px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 90%; }

input[type=file] {
  background-color: white;
  height: 30px !important; }

/** Datepicker **/
[type="date"] {
  background: #fff url(../images/cal.png) 97% 50% no-repeat; }

[type="date"]::-webkit-inner-spin-button {
  display: none; }

/** Checkbox **/
input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer; }

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px; }

.zoekPlaats {
  width: 60% !important;
  float: left;
  margin-right: 0 !important;
  margin-left: 24px !important; }

.zoekButton {
  width: 30% !important;
  margin-left: 1px !important;
  float: left;
  height: 50px !important;
  background-color: #E85C3A;
  color: white !important;
  font-size: 14px; }

@media only screen and (max-width: 480px) {
  .zoekPlaats {
    width: 97% !important;
    float: left;
    margin-right: 0 !important;
    margin-left: 0px !important; }

  .zoekButton {
    width: 97% !important;
    margin-left: 0px !important;
    float: left;
    height: 50px !important;
    background-color: #E85C3A;
    color: white !important;
    font-size: 14px; } }
.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/lite-orange-check.png); }

.button {
  margin-top: 20px !important;
  width: 90%;
  background-color: #E85C3A;
  color: white !important;
  font-size: 14px; }

.acceptHuur {
  position: relative;
  display: inline-block;
  background-color: #2A9D8F !important; }

.denyHuur {
  position: relative;
  display: inline-block; }

.huurAccepted {
  background-color: lightgrey; }

.huurData button {
  height: 59px; }

.huurData li:last-child {
  text-align: right; }

.inputDesc {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  width: 90%;
  color: white !important;
  text-align: left; }

.huurLabel {
  color: #333 !important;
  font-family: Tahoma; }

.huurDate {
  color: #333 !important;
  border-bottom: 2px solid #E85C3A;
  font-size: 20px;
  letter-spacing: 3px;
  width: 80%;
  margin: 0; }

.huurButton {
  margin-top: 20px !important;
  font-size: 16px !important;
  width: 40%;
  float: left;
  background-color: #E85C3A;
  color: white !important; }

.huurVraagButton {
  margin-top: 20px !important;
  font-size: 16px;
  margin-left: 2%;
  width: 37% !important;
  background-color: #2A9D8F; }

.regLabel {
  margin: 0;
  padding: 0;
  width: 30%;
  color: white !important;
  font-size: 12px;
  text-align: left;
  float: left;
  display: inline-block;
  line-height: 30px;
  margin: 0; }

/**Afsprakentabel**/
#huurAfsprakenTabel {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 90%;
  color: white; }
  #huurAfsprakenTabel th {
    text-align: center; }
  #huurAfsprakenTabel td {
    text-align: center;
    border-left: 1px solid white;
    border-top: 1px solid white;
    padding: 5px; }
  #huurAfsprakenTabel td:last-child {
    border-right: 1px solid white; }
  #huurAfsprakenTabel tr:last-child {
    border-bottom: 1px solid white; }
  #huurAfsprakenTabel .goedkeurBtn {
    background-color: #2A9D8F !important;
    height: 20px;
    width: 100px;
    padding: 0px;
    line-height: 20px !important;
    margin-right: 5px; }
  #huurAfsprakenTabel .afkeurBtn {
    height: 20px;
    width: 100px;
    padding: 0px;
    line-height: 20px !important;
    margin-right: 5px; }

@media only screen and (max-width: 480px) {
  .regLabel {
    width: 100%; } }
.smallInput {
  height: 24px !important;
  width: 60%;
  float: left;
  display: inline-block;
  padding: 5px !important;
  font-size: 12px; }

@media only screen and (max-width: 480px) {
  .smallInput {
    width: 100%; } }
#listCreateAccount {
  list-style: none;
  padding: 0; }
  #listCreateAccount li .error {
    color: #E85C3A; }

.align-right {
  text-align: right; }

.padding-bottom-25 {
  padding-bottom: 25px; }

#headerLogo {
  max-width: 450px;
  height: 96px; }
  #headerLogo img {
    width: 100%; }

#headerOpmaak {
  padding: 20px 0px;
  position: relative;
  background: white;
  z-index: 1; }

#loginButton {
  line-height: 26px !important;
  padding: 15px 20px; }
  #loginButton a {
    color: white !important; }

#headerNav {
  padding-top: 2%; }
  #headerNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    font-size: 18px !important;
    line-height: 52px !important; }
    #headerNav ul li {
      float: left;
      padding: 0 10px;
      max-height: 52px; }
      #headerNav ul li a {
        color: #264653;
        font-size: 16px !important; }
      #headerNav ul li a:hover {
        text-decoration: none; }
      #headerNav ul li #userPic {
        max-height: 52px;
        max-width: 52px;
        margin-left: 22px;
        position: absolute;
        bottom: 0;
        right: 0; }
        #headerNav ul li #userPic img {
          zoom: 2;
          display: block;
          margin: auto;
          height: auto;
          max-height: 100%;
          width: auto;
          max-width: 100%; }
      #headerNav ul li #userMenu {
        display: none; }
    #headerNav ul #user {
      background: #264653;
      color: #fff;
      padding: 0 62px 0 30px;
      width: auto;
      max-width: 220px;
      position: relative;
      cursor: pointer; }
      #headerNav ul #user i {
        position: absolute;
        left: 15px;
        line-height: 52px;
        transition: transform 0.2s ease-out; }
      #headerNav ul #user p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #headerNav ul #user #userMenu {
        background-color: #2A9D8F;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; }
        #headerNav ul #user #userMenu ul {
          width: 100%; }
          #headerNav ul #user #userMenu ul li {
            display: inline-block;
            float: left;
            font-size: 14px;
            width: 100%; }
            #headerNav ul #user #userMenu ul li a {
              color: #fff; }
          #headerNav ul #user #userMenu ul li:hover {
            background: #fff; }
            #headerNav ul #user #userMenu ul li:hover a {
              color: #264653;
              border: none; }
    #headerNav ul #user:hover #userMenu, #headerNav ul #user:active #userMenu {
      display: block; }
    #headerNav ul #user:hover i.fa-caret-down, #headerNav ul #user:active i.fa-caret-down {
      -ms-transform: scale(1, -1);
      -webkit-transform: scale(1, -1);
      transform: scale(1, -1);
      transition: transform 0.2s ease-out; }
    #headerNav ul li:hover > a {
      border-bottom: 3px solid #E85C3A; }
    #headerNav ul li:last-child {
      padding: 0; }

#schnitzelMenu {
  display: none;
  width: 36px;
  height: 36px;
  cursor: pointer; }

@media only screen and (max-width: 768px) {
  #headerLogo {
    max-width: 70%;
    height: auto;
    max-height: 96px; } }
@media only screen and (max-width: 992px) {
  main {
    margin-top: 90px; }

  #headerOpmaak {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out; }
    #headerOpmaak #headerLogo {
      max-height: 50px;
      width: auto; }
    #headerOpmaak #headerNav {
      background: white;
      position: fixed;
      top: 0;
      right: -250px;
      width: 250px;
      height: 100vh;
      padding-top: 90px;
      z-index: -1;
      transition: right 0.5s ease-out; }
      #headerOpmaak #headerNav ul {
        float: none; }
        #headerOpmaak #headerNav ul li {
          float: none;
          max-height: 52px; }
        #headerOpmaak #headerNav ul #user {
          position: relative;
          width: 100%; }
          #headerOpmaak #headerNav ul #user p {
            max-width: calc(100% - 5px); }
          #headerOpmaak #headerNav ul #user #userPic {
            position: absolute;
            top: 0;
            right: 0; }
    #headerOpmaak #headerNav.enabled {
      right: 0; }
    #headerOpmaak #schnitzelMenu {
      display: block;
      position: absolute;
      top: 45px;
      right: 20px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    #headerOpmaak #schnitzelMenu.opened {
      position: fixed; }

  .nav-up {
    top: -90px !important; } }
footer {
  background-color: #264653;
  padding: 50px 0;
  color: white; }
  footer h2 {
    font-family: Oswald;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0px 35px 0px; }
  footer ul {
    list-style: none;
    padding: 0;
    display: inline-block; }

.footerMenu {
  list-style: none;
  min-width: 190px; }
  .footerMenu li {
    text-align: left; }
    .footerMenu li a {
      color: white;
      text-decoration: none;
      -webkit-transition: color 0.4s;
      /* Safari */
      transition: color 0.4s; }
    .footerMenu li a:hover {
      color: #2A9D8F; }
      .footerMenu li a:hover i.social {
        color: white; }
  .footerMenu i.adres {
    margin-right: 5px;
    display: inline-block;
    width: 25px;
    min-height: 1px;
    padding-top: 5px; }
  .footerMenu i.social {
    width: 40px;
    height: 40px;
    background-color: #E85C3A;
    text-align: center;
    font-size: 23px;
    float: left;
    padding-top: 9px;
    margin-right: 5px;
    -webkit-transition: background-color 0.4s;
    /* Safari */
    transition: background-color 0.4s; }
  .footerMenu i.social:hover {
    background-color: #2A9D8F; }
  .footerMenu li:first-child {
    font-size: 22px; }
  .footerMenu li:first-child:after {
    content: "";
    width: 50px;
    height: 1px;
    display: block;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 12px; }

@media only screen and (max-width: 480px) {
  .mobileFooterPadding {
    padding: 25px 0px; } }
/** Popup question **/
#cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none; }

#vraagPopup {
  height: 450px;
  width: 400px;
  padding: 35px;
  margin: 0 auto;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  position: fixed;
  z-index: 10;
  display: none;
  background-color: white;
  border-radius: 2px;
  text-align: center; }
  #vraagPopup h3 {
    margin-top: 5px; }
  #vraagPopup input {
    border: 1px solid lightgrey;
    margin: 0 !important;
    margin-left: 17px !important;
    width: 80% !important; }
  #vraagPopup .huurVraagButton {
    color: white !important; }

#vraagText {
  position: relative;
  margin-left: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  height: 200px; }

#vraagPopup:target,
#vraagPopup:target + #cover {
  display: block;
  opacity: 2; }

.cancel {
  display: block;
  position: absolute;
  top: 3px;
  right: 5px;
  color: black;
  height: 30px;
  width: 35px;
  font-size: 30px;
  text-decoration: none;
  text-align: center; }

#introSection {
  background-image: url(../../assets/images/headerImage.png);
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; }
  #introSection #introBlock {
    background-color: #264653;
    padding: 90px 40px;
    background-color: rgba(38, 70, 83, 0.85);
    text-align: center;
    /*min-height: 539px;*/ }
    #introSection #introBlock h1 {
      font-family: Oswald;
      color: white;
      font-size: 56px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      margin: 35px 0px 50px 0px; }
    #introSection #introBlock form .row {
      width: 100%;
      margin: 0 auto 5px 0; }
      #introSection #introBlock form .row .regLabel {
        width: 40%; }
      #introSection #introBlock form .row .smallInput {
        width: 60%;
        float: left;
        display: inline-block;
        padding: 5px !important;
        margin: 0 !important;
        font-size: 12px; }
  #introSection .registerBlock {
    padding: 20px 40px !important; }

@media only screen and (max-width: 480px) {
  #introBlock h1 {
    font-size: 48px !important; }
  #introBlock form .row {
    margin-bottom: 10px !important; }
    #introBlock form .row p, #introBlock form .row .smallInput {
      width: 100% !important; } }
.pandBackground {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 630px;
  overflow: hidden;
  margin: 40px 0px; }
  .pandBackground img {
    width: 100%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    margin: -10px 0px -10px 0px; }

#pandInfoBlok {
  margin-top: 30px;
  background-color: #264653;
  padding: 20px 40px;
  /*margin-top: 100px;
      margin-bottom: 100px;*/
  background-color: rgba(38, 70, 83, 0.85);
  text-align: center;
  min-height: 550px; }
  #pandInfoBlok h1 {
    font-family: Oswald;
    color: white;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 35px 0px 50px 0px; }
  #pandInfoBlok h3 {
    text-align: left;
    color: white; }
  #pandInfoBlok p {
    color: white;
    text-align: left; }
  #pandInfoBlok img {
    width: 50%;
    float: right; }

@media only screen and (max-width: 768px) {
  #pandInfoBlok h1 {
    font-size: 40px; } }
@media only screen and (max-width: 480px) {
  #pandInfoBlok h1 {
    font-size: 35px; }
  #pandInfoBlok img {
    width: 100%;
    float: left;
    padding-bottom: 25px; }

  .huurButton {
    width: 100%;
    margin-left: 0px !important; }

  .huurVraagButton {
    width: 100% !important;
    margin-top: 0px !important;
    margin-left: 0px !important; }

  .huurDate {
    width: 95%; }

  .huurLabel {
    padding-top: 25px; } }
#pandZoekBlok {
  margin-top: 30px;
  background-color: #264653;
  padding: 20px 40px;
  /*margin-top: 100px;
      margin-bottom: 100px;*/
  background-color: rgba(38, 70, 83, 0.85);
  text-align: center;
  min-height: 300px; }
  #pandZoekBlok h1 {
    font-family: Oswald;
    color: white;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 35px 0px 50px 0px; }
  #pandZoekBlok h3 {
    text-align: left;
    color: white; }
  #pandZoekBlok p {
    color: white;
    text-align: left; }
  #pandZoekBlok img {
    width: 50%;
    float: right; }

@media only screen and (max-width: 768px) {
  #pandZoekBlok {
    padding: 20px 40px 55px 20px; } }
@media only screen and (max-width: 480px) {
  #pandZoekBlok {
    padding: 20px 40px 55px 40px; }
    #pandZoekBlok h1 {
      font-size: 40px; } }
.sectionMargin {
  padding: 50px 0px; }
  .sectionMargin h2 {
    font-family: Oswald;
    color: #264653;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0px 35px 0px; }
  .sectionMargin .pandInfoH2 {
    margin-top: 0px !important; }
  .sectionMargin a {
    color: #E85C3A !important; }
  .sectionMargin a:hover {
    color: #E85C3A !important; }

#pandenStats {
  list-style: none;
  padding: 70px 15px 15px 15px;
  color: white;
  /*display: flex;*/
  display: none; }
  #pandenStats li {
    width: 25%;
    margin: 0;
    padding: 0;
    background-color: #264653;
    float: left; }
    #pandenStats li ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      #pandenStats li ul li:first-child {
        width: 100%;
        padding: 25px 25px 0px 25px;
        border-right: 1px solid white;
        font-family: Oswald;
        color: white;
        font-size: 56px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px; }
      #pandenStats li ul li:last-child {
        width: 100%;
        padding: 0px 25px 25px 25px;
        border-right: 1px solid white; }

@media only screen and (max-width: 768px) {
  #pandenStats {
    display: none; } }
@media only screen and (max-width: 480px) {
  #pandenStats {
    display: none; } }
#USPlist {
  list-style: none;
  padding: 0; }
  #USPlist li {
    line-height: 31px; }
    #USPlist li i {
      color: #264653;
      font-size: 20px; }
  #USPlist li:last-child {
    padding-bottom: 20px; }

.overPreview {
  background: linear-gradient(rgba(38, 70, 83, 0.65), rgba(38, 70, 83, 0.65)), url("../../assets/images/hobbyachtergrond.jpg"); }
  .overPreview h2 {
    color: white; }
  .overPreview p {
    color: white; }

#firstname-error {
  color: white; }

#lastname-error {
  color: white; }

#password-error {
  color: white; }

#confirm_password-error {
  color: white; }

#email-error {
  color: white; }

#bedrijfsnaam-error {
  color: white; }

#postcode-error {
  color: white; }

#omschrijving-error {
  color: white; }

#telefoonnummer-error {
  color: white; }

/*# sourceMappingURL=main.css.map */
