@font-face {
  font-family: Tahoma;
  src: url("../../assets/fonts/tahoma.ttf"); }
@font-face {
  font-family: RAGE;
  src: url("../../assets/fonts/RAGE.ttf"); }
@font-face {
  font-family: TCCEB;
  src: url("../../assets/fonts/TCCEB.tff"); }
body {
  font-family: Tahoma !important; }

.subTitle {
  color: #E85C3A;
  font-family: RAGE;
  font-size: 30px; }

#loginHeader {
  margin: 20px !important;
  color: white !important; }

h2 {
  font-family: Oswald !important; }

#registreerVraag {
  color: white; }
  #registreerVraag a {
    color: #E85C3A; }

button {
  background-color: #E85C3A;
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.pandPreviewblok {
  padding-bottom: 25px; }
  .pandPreviewblok img {
    width: 100%;
    height: 220px;
    object-fit: cover; }
  .pandPreviewblok ul {
    list-style: none;
    padding: 0;
    background-color: #e9f5f4 !important;
    padding: 27px; }
    .pandPreviewblok ul li:first-child {
      font-family: Oswald !important;
      text-transform: uppercase;
      font-size: 25px; }
    .pandPreviewblok ul li:last-child {
      padding-top: 20px; }
    .pandPreviewblok ul .subTitle {
      font-size: 24px; }

.previewSlider {
  height: 800px;
  padding: 100px 0px;
  color: white;
  background: linear-gradient(rgba(38, 70, 83, 0.45), rgba(38, 70, 83, 0.45)), url("../../assets/images/maasboulevard.png"); }
  .previewSlider h3 {
    font-family: Oswald;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0px 35px 0px; }

input, select, option {
  border: none;
  color: #333 !important;
  padding: 15px 32px;
  margin: 5px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 90%; }

.button {
  margin-top: 20px !important;
  width: 90%;
  background-color: #E85C3A;
  color: white !important;
  font-size: 14px !important; }

.inputDesc {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  width: 90%;
  color: white !important;
  text-align: left; }

.regLabel {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  width: 30%;
  color: white !important;
  font-size: 12px;
  text-align: left;
  float: left;
  display: inline-block;
  line-height: 30px; }

.smallInput {
  height: 24px !important;
  width: 60%;
  float: left;
  display: inline-block;
  padding: 5px !important;
  font-size: 12px; }

.align-right {
  text-align: right; }

.padding-bottom-25 {
  padding-bottom: 25px; }

#headerLogo {
  max-width: 450px;
  height: 96px; }
  #headerLogo img {
    width: 100%; }

#headerOpmaak {
  padding: 20px 0px; }

#loginButton {
  line-height: 26px !important; }
  #loginButton a {
    color: white !important; }

#headerNav {
  padding-top: 2%; }
  #headerNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    float: right;
    font-size: 18px !important;
    line-height: 52px !important; }
    #headerNav ul li {
      float: left;
      padding-left: 22px; }
      #headerNav ul li a {
        color: #264653; }
      #headerNav ul li a:hover {
        text-decoration: none;
        border-bottom: 3px solid #E85C3A; }

footer {
  background-color: #264653;
  padding: 50px 0;
  color: white;
  text-align: center; }
  footer h2 {
    font-family: Oswald;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0px 35px 0px; }
  footer ul {
    list-style: none;
    padding: 0;
    display: inline-block; }

#introSection {
  background-image: url(../../assets/images/headerImage.png);
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; }
  #introSection #introBlock {
    background-color: #264653;
    padding: 100px 40px;
    /*margin-top: 100px;
    margin-bottom: 100px;*/
    background-color: rgba(38, 70, 83, 0.85);
    text-align: center;
    height: 539px; }
    #introSection #introBlock h1 {
      font-family: Oswald;
      color: white;
      font-size: 56px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      margin: 35px 0px 50px 0px; }
  #introSection .registerBlock {
    padding: 20px 40px !important; }

.sectionMargin {
  padding: 50px 0px; }
  .sectionMargin h2 {
    font-family: Oswald;
    color: #264653;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0px 35px 0px; }
  .sectionMargin a {
    color: #E85C3A !important; }
  .sectionMargin a:hover {
    color: #E85C3A !important; }

.pandOverzicht {
  background-color: #264653 !important; }

#pandenStats {
  list-style: none;
  padding: 70px 15px 15px 15px;
  color: white;
  display: flex; }
  #pandenStats li {
    width: 25%;
    margin: 0;
    padding: 0;
    background-color: #264653;
    float: left; }
    #pandenStats li ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      #pandenStats li ul li:first-child {
        width: 100%;
        padding: 25px 25px 0px 25px;
        border-right: 1px solid white;
        font-family: Oswald;
        color: white;
        font-size: 56px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px; }
      #pandenStats li ul li:last-child {
        width: 100%;
        padding: 0px 25px 25px 25px;
        border-right: 1px solid white; }

/*# sourceMappingURL=main.css.map */
