footer {
    background-color: $hoofdkleur;
    padding: 50px 0;
    color: $wit;
    
    h2 {
        font-family: Oswald;
        color: $wit;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 15px 0px 35px 0px
    }
    
    ul {
        list-style: none;
        padding: 0;
        display: inline-block;
    }
}

.footerMenu {
    list-style: none;
    min-width: 190px;
    
    li {
        text-align: left;
    }
    
    i.adres {
        margin-right: 5px;
        display: inline-block;
        width: 25px;
        min-height: 1px;
        padding-top: 5px;
    }
    
    i.social {
        width: 40px;
        height: 40px;
        background-color: $steunkleur;
        text-align: center;
        font-size: 23px;
        float: left;
        padding-top: 9px;
        margin-right: 5px;
        -webkit-transition: background-color 0.4s; /* Safari */
        transition: background-color 0.4s;
    }
    
    i.social:hover {
        background-color: $jungleGreen;
    }
    
    li:first-child {
        font-size: 22px;
    }
    
    li:first-child:after {
        content: "";
        width: 50px;
        height: 1px;
        display: block;
        background-color: $wit;
        margin-top: 6px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width : 480px) {
    .mobileFooterPadding {
        padding: 25px 0px;
    }
}