#headerLogo {
    max-width: 450px;
    height: 96px;
    img {
        width: 100%;
    }
}

#headerOpmaak {
    padding: 20px 0px;
}

#loginButton {
    line-height: 26px !important;
    a {
        color: white !important;
    }
}

#headerNav {
    padding-top: 2%;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        float: right;
        font-size: 18px !important;
        line-height: 52px !important;
        li {
            float: left;
            padding-left: 22px;
            a {
                color: $hoofdkleur;
            }
            a:hover {
                text-decoration: none;
                border-bottom: 3px solid $steunkleur;
            }
            img {
                height: 52px;
                border-radius: 50%;
                padding-left: 5px;
            }
            #userMenu {
                background-color: white;
                display: none;
                position: absolute;
                width: 150px;
                z-index: 2;
                box-shadow: 5px 5px 10px #333;
                li {
                    float: left;
                    font-size: 14px;
                }
            }
        }
        li:hover {
            #userMenu {
                display: block;
            }
        }
    }
}
