/** Popup question **/
#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}

#vraagPopup {
    height: 450px;
    width: 400px;
    padding: 35px;
    margin: 0 auto;
    top: 100px;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    z-index: 10;
    display: none;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    h3{
        margin-top: 5px;
    }
    input{
        border: 1px solid lightgrey;
        margin: 0 !important;
        margin-left: 17px !important;
        width: 80% !important;
    }
    
    .huurVraagButton{
        color: white !important;    
    }
}

#vraagText {
    position: relative;
    margin-left: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    height: 200px;
}

#vraagPopup:target,
#vraagPopup:target+#cover {
    display: block;
    opacity: 2;
}

.cancel {
    display: block;
    position: absolute;
    top: 3px;
    right: 5px;
    color: black;
    height: 30px;
    width: 35px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

#introSection {
    background-image: url(../../assets/images/headerImage.png);
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    #introBlock {
        background-color: $hoofdkleur;
        padding: 90px 40px;
        background-color: rgba(38, 70, 83, 0.85);
        text-align: center;
        /*min-height: 539px;*/
        h1 {
            font-family: Oswald;
            color: white;
            font-size: 56px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            margin: 35px 0px 50px 0px;
        }
        form {
            .row {
                width: 100%;
                margin: 0 auto 5px 0;
                .regLabel {
                    width: 40%;
                }
                .smallInput {
                width: 60%;
                float: left;
                display: inline-block;
                padding: 5px !important;
                    margin: 0 !important;
                font-size: 12px;
                }
            }
        }
    }
    .registerBlock {
        padding: 20px 40px !important;
    }
}

@media only screen and (max-width : 480px) {
    #introBlock {
        h1 {
            font-size: 48px !important;
        }
        form {
            .row {
                margin-bottom: 10px !important;
                p, .smallInput {
                    width: 100% !important;
                }
            }
        }
    }
}

.pandBackground {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 630px;
    overflow: hidden;
    margin: 40px 0px;
    img {
        width: 100%;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        margin: -10px 0px -10px 0px;
    }
}

#pandInfoBlok {
    margin-top: 30px;
    background-color: $hoofdkleur;
    padding: 20px 40px;
    /*margin-top: 100px;
        margin-bottom: 100px;*/
    background-color: rgba(38, 70, 83, 0.85);
    text-align: center;
    min-height: 550px;
    h1 {
        font-family: Oswald;
        color: white;
        font-size: 56px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 35px 0px 50px 0px;
    }
    h3 {
        text-align: left;
        color: white;
    }
    p {
        color: white;
        text-align: left;
    }
    img {
        width: 50%;
        float: right;
    }
}

@media only screen and (max-width : 768px) {
    #pandInfoBlok {
        h1 {
            font-size: 40px;
        }
    }
}

@media only screen and (max-width : 480px) {
    #pandInfoBlok {
        h1 {
            font-size: 35px;
        }
        
        img {
            width: 100%;
            float: left;
            padding-bottom: 25px;
        }
    }
    
    .huurButton {
        width: 100%;
        margin-left: 0px !important;
    }
        
    .huurVraagButton {
        width: 100% !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
    
    .huurDate {
        width: 95%;
    }
    
    .huurLabel {
        padding-top: 25px;
    }
}

#pandZoekBlok {
    margin-top: 30px;
    background-color: $hoofdkleur;
    padding: 20px 40px;
    /*margin-top: 100px;
        margin-bottom: 100px;*/
    background-color: rgba(38, 70, 83, 0.85);
    text-align: center;
    min-height: 300px;
    h1 {
        font-family: Oswald;
        color: white;
        font-size: 56px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 35px 0px 50px 0px;
    }
    h3 {
        text-align: left;
        color: white;
    }
    p {
        color: white;
        text-align: left;
    }
    img {
        width: 50%;
        float: right;
    }
}

@media only screen and (max-width : 768px) {
    #pandZoekBlok {
        padding: 20px 40px 55px 20px;
    }
}

@media only screen and (max-width : 480px) {
    #pandZoekBlok {
        padding: 20px 40px 55px 40px;
        
        h1 {
            font-size: 40px;
        }
    }
}

.sectionMargin {
    padding: 50px 0px;
    h2 {
        font-family: Oswald;
        color: $hoofdkleur;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 15px 0px 35px 0px;
    }
    .pandInfoH2 {
        margin-top: 0px !important;
    }
    a {
        color: $steunkleur !important;
    }
    a:hover {
        color: $steunkleur !important;
    }
}

#pandenStats {
    list-style: none;
    padding: 70px 15px 15px 15px;
    color: $wit;
    /*display: flex;*/
    display: none;
    li {
        width: 25%;
        margin: 0;
        padding: 0;
        background-color: $hoofdkleur;
        float: left;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li:first-child {
                width: 100%;
                padding: 25px 25px 0px 25px;
                border-right: 1px solid white;
                font-family: Oswald;
                color: white;
                font-size: 56px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
            }
            li:last-child {
                width: 100%;
                padding: 0px 25px 25px 25px;
                border-right: 1px solid white;
            }
        }
    }
}

//tablet
@media only screen and (max-width : 768px) {
    #pandenStats {
        display: none;
    }
}

// Mobile
@media only screen and (max-width : 480px) {
    #pandenStats {
        display: none;
    }
}

#USPlist {
    list-style: none;
    padding: 0;
    
    li {
        line-height: 31px;
        
        i {
            color: $hoofdkleur;
            font-size: 20px;
        }
    }
    
    li:last-child {
        padding-bottom: 20px;
    }
}
